<%= form_with(model: alcohol, local: true) do |form| %>
  <% if alcohol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alcohol.errors.count, "error") %> prohibited this alcohol from being saved:</h2>

      <ul>
      <% alcohol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

<div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :integer, min: 0 %>
    <label>Select any remaining fraction</label>
    <%= select_tag "fraction", options_for_select(['0', '.05', '.1', '.15', '.2',  '.25', '.3', '.35', '.4', '.45', '.5', '.55', '.6', '.65', '.7', '.75', '.8', '.85', '.9', '.95'], '0')  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
