<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @alcohol.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @alcohol.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @alcohol.quantity %>
</p>

<%= link_to 'Edit', edit_alcohol_path(@alcohol) %> |
<%= link_to 'Back', alcohols_path %>

<p>
  <strong>History:</strong>
  
  
  <%= @alcohol.quantity %>
</p>
